:root{
  --vb-menu-background-color: #242629;
  --vb-menu-text-color: #C8C8C8;
  --vb-menu-text-active-color: #FF9500;
  --vb-menu-marker-color: #FF9500;

  --vb-menu-icon-map-url: url("../theme/dark/icon_map.svg");
  --vb-menu-icon-map-active-url: url("../theme/dark/icon_map_active.svg");
  --vb-menu-icon-automatic-url: url("../theme/dark/icon_automatic.svg");
  --vb-menu-icon-automatic-active-url: url("../theme/dark/icon_automatic_active.svg");
  --vb-menu-icon-events-url: url("../theme/dark/icon_events.svg");
  --vb-menu-icon-events-active-url: url("../theme/dark/icon_events_active.svg");
  --vb-menu-icon-news-url: url("../theme/dark/icon_news.svg");
  --vb-menu-icon-news-active-url: url("../theme/dark/icon_news_active.svg");
  --vb-menu-icon-feed-url: url("../theme/dark/icon_feed.svg");
  --vb-menu-icon-feed-active-url: url("../theme/dark/icon_feed_active.svg");
  --vb-menu-icon-checklist-url: url("../theme/dark/icon_checklist.svg");
  --vb-menu-icon-checklist-active-url: url("../theme/dark/icon_checklist_active.svg");
  --vb-menu-icon-users-url: url("../theme/dark/icon_users.svg");
  --vb-menu-icon-users-active-url: url("../theme/dark/icon_users_active.svg");
  --vb-menu-icon-users-url: url("../theme/dark/icon_settings.svg");
  --vb-menu-icon-users-active-url: url("../theme/dark/icon_settings_active.svg");
}