<div class="row_t<%= selected %>" id="gt-topic-<%= id %>" reference=":Events/<%= group_id %>/Topic/<%= id %>" href="#main-container"  data-params="{'setHistory':false}">
        <div class="col_t1">
                <!--
                <div  class="num">
                        <span class="priority <%= priority_code %>"></span>
                        <div class="line_t2">#<%= id %></div>
                        <div><%= created_date %></div>
                </div>
                -->
                <div class="item_info">
                        <div>#<%= id %></div>
                        <div  style="clear: both" class="line_t3"><%= created_date %></div>
                </div>
        </div>
<!--        <div><img src="template/images/workpic.png" width="44" height="44"></div>-->
        <div class="col_t_name">
                <div style="float: left;"><span class="priority <%= priority_code %>"></span></div>
                <span class="status <%= status_code %>"><%= status_name %></span>
                <div><%= name %></div>
<!--                <div><a reference=":Events/<%= group_id %>/Topic/<%= id %>" href="#main-container"  data-params="{'setHistory':false}"><%= name %></a></div>-->
        </div>
        <div class="col_t_description">
                <div class="topic_item">
                        <div class="slider">
                                <div class="images"></div>
                        </div>
                </div>
                <div class="low_height_desc">
                        <%= description %>
                </div>
        </div>
        <div class="col_t_userpic">
                <span class="tooltip">
                        <img src="template/images/userpic.png" title="<%- author.last_name %> <%- author.first_name %> <%- author.middle_name %>, <%- author.position%>" style="margin-right: 20px;">
                        <div class="tooltip-content">
                                <div class="tooltip-arrow"></div>
                        <p><b><%- author.last_name %></b> <%- author.first_name %> <%- author.middle_name %><br><u><%- author.position%></u></p>
                        </div>
                </span>

                <% for (let i in users) { %>
                <span class="tooltip">
                <img class="img_att_users" src="template/images/<%- users[i].userpic %>" title="<%- users[i].last_name %> <%- users[i].first_name %> <%- users[i].middle_name %>, <%- users[i].position%>">
                        <div class="tooltip-content">
                                <div class="tooltip-arrow"></div>
                                <p><b><%- users[i].last_name %></b> <%- users[i].first_name %> <%- users[i].middle_name %><br><u><%- users[i].position%></u></p>
                        </div>
                </span>

                <% } %>
        </div>
</div>
