<div class="caption t_pad">
    <nav>
        <a reference=":GroupsAdmin" class="back">Назад</a>
        <% if (createGroup) { %>
        <div class="text">
            <span>{%caption%}</span>
            <em></em>
        </div>
        <% } else { %>
        <div class="flags">
            <span class="false" data-value=".user_list_all">Все</span>
            <span class="true" data-value=".user_list_binded">Группа</span>
        </div>
        <% } %>
        <a class="save_icon" title="Сохранить"></a>
    </nav>
    <div class="full">
        <h1 class="lr_pad">{%caption%}</h1>
        <div class="search1">
            <div class="search_field">
                <input type="text" value="Имя пользователя" data-placeholder="Имя пользователя">
                <!--<a class="voice"></a>-->
                <a class="clear"></a>
            </div>
        </div>
    </div>
</div>

<!--<div class="pref_delimiter"></div>-->




<div class="level_term_group">
    <label class="input_group_title">Время для нормального приоритета</label>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_time">В работу</span>
            <select>
                <option value="0">-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
            </select>дн.
            <select>
                <option>0</option>
                <option>1</option>
                <option selected>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
            </select>
            ч.
            <select>
                <option selected>00</option>
                <option>05</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>50</option>
                <option>55</option>
            </select>
            м.

<!--            <input type="number" class="left_align" value="0" min="0" max="31" id="group-k1">дн.-->
<!--            <input type="number" class="left_align" value="1" min="0" max="23" id="group-k2">ч.-->
<!--            <input type="number" class="left_align" value="0" min="0" max="59" id="group-k3">м.-->
            <!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_time">Выполнить</span>
            <select>
                <option value="0">-</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
            </select>дн.
            <select>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option selected>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
            </select>
            ч.
            <select>
                <option selected>00</option>
                <option>05</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>50</option>
                <option>55</option>
            </select>
            м.
            <!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_time">Проверить</span>
            <select>
                <option value="0">-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
            </select>дн.
            <select>
                <option>0</option>
                <option>1</option>
                <option selected>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
            </select>
            ч.
            <select>
                <option>00</option>
                <option>05</option>
                <option>10</option>
                <option selected>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>50</option>
                <option>55</option>
            </select>
            м.
            <!--            <div class="clear"></div>-->
        </div>
    </div>
</div>

<div class="level_term_group level_k_group">
    <label class="input_group_title">Информирование при достижении</label>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">2 уровень поддержки</span><input type="number" class="left_align" value="30" id__="group-k02">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">3 уровень поддержки</span><input type="number" class="left_align" value="20" id__="group-k01">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
</div>


<div class="level_term_group level_k_group">
    <label class="input_group_title">Коэффициенты</label>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">Высший приоритет, %</span><input type="number" class="left_align" value="5" id__="group-k02">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">Повышенный приоритет, %</span><input type="number" class="left_align" value="50" id__="group-k01">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">Пониженный приоритет, %</span><input type="number" class="left_align" value="150" id__="group-k22">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
</div>






<div class="pref_delimiter"></div>

<div class="opt_item">
    <div class="field">
        <input type="text" class="left_align" value="" id="group-name">
        <div class="clear"></div>
    </div>
</div>
<div class="line1"><div></div></div>

<div class="opt_item">
    <div class="field">
        <input type="text" class="left_align" value="" id="group-description">
        <div class="clear"></div>
    </div>
</div>

<div class="pref_delimiter"></div>

<div class="user_list_all switch_layer">
</div>

<div class="user_list_binded switch_layer">
</div>