<div class="caption t_pad">
    <nav>
        <a reference=":GroupsAdmin" class="back">Назад</a>
        <% if (createGroup) { %>
        <div class="text">
            <span>{%caption%}</span>
            <em></em>
        </div>
        <% } else { %>
        <div class="flags">
            <span class="false" data-value=".user_list_all">Все</span>
            <span class="true" data-value=".user_list_binded">Группа</span>
        </div>
        <% } %>
        <a class="save_icon" title="Сохранить"></a>
    </nav>
    <div class="full">
        <h1 class="lr_pad">{%caption%}</h1>
        <div class="search1">
            <div class="search_field">
                <input type="text" value="Имя пользователя" data-placeholder="Имя пользователя">
                <!--<a class="voice"></a>-->
                <a class="clear"></a>
            </div>
        </div>
    </div>
</div>

<!--<div class="pref_delimiter"></div>-->




<div class="level_term_group">
    <label class="input_group_title">Время для нормального приоритета</label>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_time">В работу</span>
            <input type="number" class="left_align" value="0" min="0" max="31" id="group-k1">дн.
            <input type="number" class="left_align" value="1" min="0" max="23" id="group-k2">ч.
            <input type="number" class="left_align" value="0" min="0" max="59" id="group-k3">м.
            <!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_time">Выполнить</span>
            <input type="number" class="left_align" value="1" id="group-k4">дн.
            <input type="number" class="left_align" value="12" id="group-k5">ч.
            <input type="number" class="left_align" value="00" id="group-k6">м.
            <!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_time">Проверить</span>
            <input type="number" class="left_align" value="0" id="group-k7">дн.
            <input type="number" class="left_align" value="2" id="group-k8">ч.
            <input type="number" class="left_align" value="30" id="group-k9">м.
            <!--            <div class="clear"></div>-->
        </div>
    </div>
</div>

<div class="level_term_group level_k_group">
    <label class="input_group_title">Коэффициенты</label>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">Высший приоритет, %</span><input type="number" class="left_align" value="5" id="group-k02">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">Повышенный приоритет, %</span><input type="number" class="left_align" value="50" id="group-k01">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
    <div class="opt_item">
        <div class="field">
            <span class="label_level label_level_k">Пониженный приоритет, %</span><input type="number" class="left_align" value="150" id="group-k22">%
<!--            <div class="clear"></div>-->
        </div>
    </div>
</div>






<div class="pref_delimiter"></div>

<div class="opt_item">
    <div class="field">
        <input type="text" class="left_align" value="" id="group-name">
        <div class="clear"></div>
    </div>
</div>
<div class="line1"><div></div></div>

<div class="opt_item">
    <div class="field">
        <input type="text" class="left_align" value="" id="group-description">
        <div class="clear"></div>
    </div>
</div>

<div class="pref_delimiter"></div>

<div class="user_list_all switch_layer">
</div>

<div class="user_list_binded switch_layer">
</div>