<!-- mobile caption -->
<div class="caption t_pad mobile">
    <nav>
        <div class="bar">
            <a class="back">Назад</a>
        </div>
        <div class="text">
            <!--<span><%= object.name %></span>-->
            <em><%= object.description %></em>
        </div>
        <div class="bar for_submenu">
            <a></a>
            <a></a> 
        </div>
        
    </nav>
</div>
<!-- desktop caption -->
<div class="window_header desktop">
    <nav>

        <div class="text">
            <!--<span><%= object.name %></span>-->
<!--            <em><%= object.description %></em>-->
        </div>
        <div class="bar">
            <a class="edit_icon"></a>
            <a class="home_icon"></a>
<!--            /svg/MENU.svg-->
<!--            <a class="fullscreen_icon"></a>-->
<!--            <a class="close_icon"></a>-->
        </div>
    </nav>
</div>

<!-- substitution of visualizations -->
<div class="layout" id="vbas-widget"></div>