:root{
  --vb-menu-background-color: #ffffff;
  --vb-menu-text-color: #929292;
  --vb-menu-text-active-color: #007AFF;
  --vb-menu-marker-color: #007AFF;

  --vb-menu-icon-map-url: url("../theme/light/icon_map.svg");
  --vb-menu-icon-map-active-url: url("../theme/light/icon_map_active.svg");
  --vb-menu-icon-automatic-url: url("../theme/light/icon_automatic.svg");
  --vb-menu-icon-automatic-active-url: url("../theme/light/icon_automatic_active.svg");
  --vb-menu-icon-events-url: url("../theme/light/icon_events.svg");
  --vb-menu-icon-events-active-url: url("../theme/light/icon_events_active.svg");
  --vb-menu-icon-news-url: url("../theme/light/icon_news.svg");
  --vb-menu-icon-news-active-url: url("../theme/light/icon_news_active.svg");
  --vb-menu-icon-feed-url: url("../theme/light/icon_feed.svg");
  --vb-menu-icon-feed-active-url: url("../theme/light/icon_feed_active.svg");
  --vb-menu-icon-checklist-url: url("../theme/light/icon_checklist.svg");
  --vb-menu-icon-checklist-active-url: url("../theme/light/icon_checklist_active.svg");
  --vb-menu-icon-users-url: url("../theme/light/icon_users.svg");
  --vb-menu-icon-users-active-url: url("../theme/light/icon_users_active.svg");
  --vb-menu-icon-users-url: url("../theme/light/icon_settings.svg");
  --vb-menu-icon-users-active-url: url("../theme/light/icon_settings_active.svg");
}