<div class="caption t_pad">
    <nav>
        <a class="back">Назад</a>
        <div class="text"><%= option.name %></div>
        <div class="bar">
            <a class="save inactive"></a>
        </div>

    </nav>
</div>

<div class="pref_delimiter"></div>
<div class="line2"><div></div></div>

<div class="sensor_admin">
    <div class="item">
        <div class="field">
            <input type="text" class="left_align" id="param_value" value="<%= option.value %>">
            <a class="clear"></a>
        </div>
    </div>
</div>

<div class="line2"><div></div></div>

