<div class="caption t_pad">
    <nav>
        <a class="back back_json">Назад</a>
        <div class="text"><%= option.paths.length>0 ? option.paths.join(".") : option.name  %></div>
        <div class="bar">
            <a class="save inactive"></a>
        </div>

    </nav>
</div>

<div class="pref_delimiter"></div>
<div class="line2"><div></div></div>

<!--
<div class="sensor_admin">
    <div class="item">
        <div class="field" id="field_param_value">
            <input type="text" class="left_align" id="param_value" value="<%= option.value %>">
            <a class="clear"></a>
        </div>
    </div>
</div>

<div class="line2"><div></div></div>

-->


<% let json = option.json; %>
<% if ( _.isObject(json) && !_.isArray(json) )  { %>
<div class="opt_list sensor_admin json_item">
    <% for (let key in option.json) { %>
    <div class="opt_item item">
        <div class="field"><input type="text" class="left_align json_key" data-json_key="<%= key %>" data-value_origin="<%= key %>" value="<%= key %>" autocomplete="on"></div>
        <% if (_.isObject(json[key])) { %>
        <a data-key="<%= key %>" title="<%= json[key] %>"></a>
        <% } else { %>
        <a  data-key="<%= key %>" title="<%= json[key] %>"><%= json[key] %></a>
        <% } %>
    </div>
    <div class="line2"><div></div></div>
    <% } %>
</div>


<% } else if ( _.isArray(json) ) { %>
<div class="opt_list sensor_admin json_item">

    <% for (let key=0; key < option.json.length; key++) { %>
    <div class="opt_item item">
        <span class="label">#<%= key %></span>
        <% if (_.isObject(json[key])) { %>
        <a data-key="<%= key %>" title="<%= json[key] %>"></a>
        <% } else { %>
        <a data-key="<%= key %>" data-index="true" data-num="<%= _.isString(json[key]) ? '' : 'true' %>" title="<%= json[key] %>"><%= json[key] %></a>
        <% } %>
    </div>
    <div class="line2"><div></div></div>
    <% } %>
</div>



<% } else { %>
<div class="sensor_admin json_item">
    <div class="item">
        <div class="field">
            <input type="text" class="left_align" data-value_origin="<%= option.json %>" value="<%= option.json  %>">
            <a class="clear"></a>
        </div>
    </div>
</div>

<div class="line2"><div></div></div>
<% } %>

